{% extends 'base.html'%}
{% block page_title%}
<title>MyFragrance | Latest perfume </title>
{% endblock page_title%}
{% block content %}

<div class="container">
	<div class="row">

		<div class="col-12 col-lg-3">
			 <!--search-box-->
				<form action="{% url 'do_search'%}" method="get">
					<input class="form-control mt-4 mx-auto form-control-lg" type="text" name="do_search" placeholder="Find your fragrance">
					<button type="search" class="m-1 btn mx-auto  btn-sm btn-dark col-12">Search</button>
				</form>
                 <!--/search-box-->
                <!--category buttons-->
				<div class="row">
					<a href="{% url 'do_search_F'%}" class="m-1 btn btn-sm mx-auto  btn-dark col-5">For Her
						<i class="fa fa-venus fa-2x"></i></a>
					<a href="{% url 'do_search_M'%}" class=" m-1 btn btn-sm mx-auto  btn-dark col-5">For Him
						<i class="fa fa-mars fa-2x"></i></a>

					<a href="{% url 'do_search_U'%}" class=" m-1 btn btn-sm mx-auto   btn-dark col-5">Unisex
						<i class="fa fa-transgender fa-2x"></i></a>

					<a href="/" class="m-1 btn mx-auto  btn-dark col-5">Show all</a>


                    
                    </div><!--/category buttons-->

		</div>
		<!-- /.col-lg-3 -->


		<div class="col-lg-9">
 <!--Product-area-->

			<div class="row mt-4">
				{% for product in perfumes reversed %}
				<div class="col-6 col-md-4 col-lg-4 mb-4 ">
                
					<div class="card h-100 anup">
						<a href="{% url 'post_detail' product.id %}" class="card-link">
							<img class="card-img-top " src="{{ MEDIA_URL }}{{ product.image }}" alt="">
							<div class="card-body anup">
								<h4 class="card-title">
									<h6 class="overflow-control">{{ product.name }}</h6>
									<h6 class="overflow-control">{{ product.brand }}</h6>
								</h4>
								<p class="card-text m-1 overflow-control">{{ product.description|truncatewords:"4"  }}
								</p>
								<h5>{{ product.price }} <small><i class="fa fa-euro"></i></small></h5>
							</div>
							<div class="card-footer anup">
								<h6 class="d-inline">
									{{ product.volume }}ml
								</h6>

								{% if product.gender == 'unisex' %}
								<i class="fa fa-transgender fa-2x"></i>
								{% elif product.gender == 'female'%}
								<i class="fa fa-venus fa-2x"></i>
								{% else %}
								<i class="fa fa-mars fa-2x"></i>

								{%endif%}

							</div>
						</a>
						<div class="card-body">
							<form method="post" action="{% url 'add_product' product.id %}">
								{% csrf_token %}
								<div class="input-group mt-1">
									<input name="quantity" type="number" min="1" max="999" class="form-control col-2 d-none" placeholder="Quantity" value="1">
									<span class="input-group-btn">
                            <button class="btn btn-success ml-1" type="submit">Add to cart <i class="fa fa-shopping-basket"></i> </button>
                        </span>
								</div>
							</form>
						</div>

					</div>

				</div>


				{% endfor %}

			</div>
			 <!--/Product-area-->
		</div>
		
	</div>
	<!-- /.row -->
</div>
{% endblock %}