{% extends 'base.html'%}
{% block content %}


		<div class="row">

			<div class="col-lg-3">

				<h3 class="my-4">Select by category</h3>
				<div class="list-group">
                 <a href="{% url 'do_search_F'%}" class="list-group-item">For Her <i class="fa fa-venus fa-2x"></i></a> 
    
    
					<a href="{% url 'do_search_M'%}"class="list-group-item">For Him <i class="fa fa-mars fa-2x"></i></a>
					<a href="{% url 'do_search_U'%}"  class="list-group-item">Unisex <i class="fa fa-transgender fa-2x"></i></a>
                    <a href="/"  class="list-group-item">Show all</a>
                    <form action="{% url 'do_search'%}" method="get">
                <input class="form-control mt-4 form-control-lg" type="text" name="do_search" placeholder="find your fragrance">
                <button type="search" class="mt-1 btn-sm btn-sm btn-dark">Search</button>
            </form>

				</div>

			</div>
			<!-- /.col-lg-3 -->

			<div class="col-lg-9">

			
							<div class="row mt-4">
								{% for product in perfumes reversed %}
								<div class="col-lg-4 col-md-6 mb-4 anup">
									<div class="card h-100">
									<a href="{% url 'post_detail' product.id %}" class="card-link">
										<img class="card-img-top" src="{{ MEDIA_URL }}{{ product.image }}" alt="">
										<div class="card-body">
											<h4 class="card-title">
												<a href="#"><h6>{{ product.name }}</h6></a>
											</h4>

											<h5>{{ product.price }}</h5>
											<p class="card-text">{{ product.description|truncatewords:"2"  }}</p>
										</div>
										<div class="card-footer">
											<h6 class="d-inline">
												{{ product.volume }}ml
											</h6>

											{% if product.gender == 'U' %}
											<i class="fa fa-transgender fa-2x"></i>
                {% elif product.gender == 'F'%}
											<i class="fa fa-venus fa-2x"></i>
                 {% else %}
											<i class="fa fa-mars fa-2x"></i>

                {%endif%}
											
										</div></a>
<div class="card-body">
 <form method="post" action="{% url 'add_product' product.id %}">
                    {% csrf_token %}
                    <div class="input-group mt-1">
                        <input name="quantity" type="number" min="1" max="999" class="form-control col-2 d-none" placeholder="Quantity" value="1">
                        <span class="input-group-btn">
                            <button class="btn btn-success ml-1" type="submit">Add to cart <i class="fa fa-shopping-basket"></i> </button>
                        </span>
                    </div>
                </form>
											</div>

									</div>

								</div>


								{% endfor %}

							</div>
							<!-- /.row -->
						</div>
						<!-- /.col-lg-9 -->
					</div>
					<!-- /.row -->

{% endblock %}