{% extends 'base.html'%}

{% block content%}


<div class="container m-3">
<!--Contactform-->
<form method="post" action="{% url 'send_email' %}">
						{% csrf_token %}
  <div class="form-group">
    <label for="exampleFormControlInput1">Name</label>
    <input type="text" name="name" class="form-control" id="exampleFormControlInput1" placeholder="Name">
  </div>

  <div class="form-group">
    <label for="exampleFormControlInput1">Email address</label>
    <input type="email" name="from_email" class="form-control" id="exampleFormControlInput1" placeholder="name@example.com">
  </div>

  
  <div class="form-group">
    <label for="exampleFormControlTextarea1">Your Message</label>
    <textarea class="form-control" id="exampleFormControlTextarea1" rows="5" name="text"></textarea>
  </div>
  <button type="submit" class="btn btn-success">Send</button>
</form>
<!--/Contactform-->
</div>

{% endblock%}