{%extends 'base.html'%}
{% block page_title%}
<title>MyFragrance | Forgot password </title>
{% endblock page_title%}

{% block content %}
<div class="container mt-5">


<form method="post" class="accountform">
<div class="container">
<div class="row"><div class="col-12 mx-auto">
    <p>Please specify your email address to receive instructions for resetting it.</p></div></div>
    <br>
    <div style="display:none">
        <input type="hidden" value="{{ csrf_token }}" name="csrfmiddlewaretoken">
    </div>
    <div class="row"><div class="mx-auto col-12">
     {{ form.email.errors }}
    <p><label for="id_email" class="control-label required-field">E-mail address:</label> {{ form.email}} </div></div>
    <div class="row"><div class="col-12 mx-auto">
    <button type="submit" class="btn btn-success btn-block">Reset password  <i class="fa fa-unlock-alt"></i></button></p></div></div>
    </div>
</form>


</div>


{% endblock %}