{%extends 'base.html'%}


{% block content %}
<div class="m-5">
<form method="post" class="accountform">
    <p>Please specify your email address to receive instructions for resetting it.</p>
    <br>
    <div style="display:none">
        <input type="hidden" value="{{ csrf_token }}" name="csrfmiddlewaretoken">
    </div>
     {{ form.email.errors }}
    <p><label for="id_email" class="control-label required-field">E-mail address:</label> {{ form.email }} <input type="submit" value="Reset password" class="btn btn-success btn-sm"/></p>
</form>
</div>


{% endblock %}