 

/* fixing footer position */
.m-container{
    position: relative;
    min-height: 100vh;
}}
.footer{
    position: absolute;
  bottom: 0;
  width: 100%;
  height: 2.5rem;           

}
/* removes default anchor styling */
a {
    color: rgb(1, 8, 14);
    text-decoration: none;
}

a:hover 
{
     color:#00A0C6; 
     text-decoration:none; 
     cursor:pointer;  
}

/* remove word overflow in description box */
.overflow-control{
    overflow: hidden;
    white-space: nowrap;
    text-overflow:ellipsis;
}