{% extends 'base.html'%}
{% load bootstrap_tags %}
{% block content %}
<div class="container m-4">
<div class="row">
<div class="col-12">
<form class="form-group" method="POST">
{% csrf_token %}
{{login_form|as_bootstrap }}
<button class="btn btn-success btn-sm" type="submit">Login</button>
</form></div></div>
<div class="row">
<p><a href="{% url 'password_reset' %}">Reset your password here</a></p>
</div>
<div class="row"><a class="nav-link btn btn-success btn-lg" href="{% url 'register' %}">New Customer?</a>
</div></div>


{% endblock %}