{% extends 'base.html'%}
{% load bootstrap_tags %}
{% block page_title%}
<title>MyFragrance | Login </title>
{% endblock page_title%}
{% block content %}
<div class="container m-4">
	<div class="row">
		<div class="col-12">
			<!--Login Form-->
			<form class="form-group" method="POST">
				{% csrf_token %}
				{{login_form|as_bootstrap }}
				<button class="btn btn-success btn-sm" type="submit"><i class="fa fa-sign-in"></i> Login</button>
                <a class="btn btn-success btn-sm" href="{% url 'password_reset' %}">Forgot password <i class="fa fa-unlock-alt"></i> </a>
        
			</form>
			<!--/Login Form-->
		</div>
	</div>
	<div class="row">
		<!--Password Rest Button--><div class="col-12">

		
		<!--/Password Rest Button-->
	</div></div>
	<div class="row"><div class="col-12">
        <a class=" btn btn-success btn-block" href="{% url 'register' %}">New Customer?</a>
		<!--/New customer register link-->
	</div></div>
		<!--New customer register link-->
</div>


{% endblock %}