{% extends 'base.html' %}
{% load static from staticfiles %}
{% load bootstrap_tags %}

{% block content %}
   

    <hr>
<div class="row">

	{% for item in cart_item %}
	<div class="col-6 col-md-3 col-lg-2  my-2 anup">
    
		<div class="card h-100">
        <h5 class="m-1">Qty: 
        {{item.quantity}}</h5>

			<img class="card-img-top" src="{{ MEDIA_URL }}{{ item.product.image }}" alt="">
			<div class="card-body">
				<h5>
					{{ item.product.name }}
				</h5>

				<h5>{{ item.product.price }}</h5>
				<small>{{ item.product.volume }}ml</small>
				{% if item.product.gender == 'U' %}
				<img class="gender-icon-cart" src="{{ MEDIA_URL }}images/unisex.png" alt="">
                {% elif item.product.gender == 'F'%}
				<img class="gender-icon-cart" src="{{ MEDIA_URL }}images/female.png" alt="">
                 {% else %}
				<img class="gender-icon-cart" src="{{ MEDIA_URL }}images/male.png" alt="">

                {%endif%}
</div>

				<div class="card-footer">
                										
					<form class="form-inline" method="post" action="{% url 'adjust' item.id %}">
						{% csrf_token %}
					
							<div class="col-12">
							
								New Qty: <input name="quantity" type="number" min="0" max="999" class="form-control m-1" value="1">
								<button type="submit" class="btn btn-sm btn-success">Amend</button>
							</div>
						
						
					</form>
				</div>
			</div>
			<!---->
		</div>

		{% endfor %}
</div>
<div class="row">
<div class="col-md-9">

</div>
    <div class="col-sm-12 col-md-3 my-3">
   
    Total: {{ total }}
    
		<a href="{% url 'checkout' %}" class="btn btn-sm btn-success"
			role="button"><i class="fa fa-shopping-basket"></i> Checkout</a></p></div>
	</div>


</div>
	{% endblock %}