{% extends 'base.html' %}
{% load static from staticfiles %}
{% load bootstrap_tags %}
{% block page_title%}
<title>MyFragrance | My Cart </title>
{% endblock page_title%}

{% block content %}
<hr>
<div class="container">
	<!--Checkout-button-elements-->
	<div class="row">
		<!--empty-block button-alignment-->
		<div class="d-sm-none d-md-block col-md-9"></div>
		<!--/empty-block button-alignment-->
		<!--Checkout-button-->
		<div class="col-12 col-md-3">

			Total: {{ total }} <small><i class="fa fa-euro"></i></small>
			<a href="{% url 'checkout' %}" class="btn btn-sm btn-success"
				role="button"><i class="fa fa-shopping-basket"></i> Checkout</a></p>
		</div>
		<!--/Checkout-button-->
	</div>
	<!--/Checkout button-->


	<hr>
	<!--Products-in-cart-->
	<div class="row">
		{% for item in cart_item %}
		<div class="col-6 col-md-3 col-lg-2 mb-2">
			<a href="{% url 'post_detail' item.product.id %}" class="card-link">
				<div class="card h-100">
					
					<img class="card-img-top" src="{{ MEDIA_URL }}{{ item.product.image }}" alt="">
					<div class="card-body">
                   
						<h6 class="card-title overflow-control">
							{{ item.product.name }}
						</h6>
						<h6 class="overflow-control">{{ item.product.brand }}</h6>

						<h5>{{ item.product.price }} <small><i class="fa fa-euro"></i></small></h5>
						<small>{{ item.product.volume }}ml</small>
						{% if product.gender == 'unisex' %}
						<i class="fa fa-transgender fa-2x"></i>
						{% elif product.gender == 'female'%}
						<i class="fa fa-venus fa-2x"></i>
						{% else %}
						<i class="fa fa-mars fa-2x"></i>

						{%endif%}
					</div>
			</a>
			<div class="card-footer">

				<form class="form-inline" method="post" action="{% url 'adjust' item.id %}">
					{% csrf_token %}
					<div class="col-12">
						<h5 class="m-1">Qty in Cart:
						{{item.quantity}}</h5> </div>
                        <select name="quantity" class="form-control m-auto" id="exampleFormControlSelect1">
       {% for i in select_qty_999 %}
       <option>{{ i }}</option>
{% endfor %}</select></div>
<div class="btn-group m-auto" role="group" aria-label="Basic example">
<button type="submit" class="btn btn-sm btn-success m-1">Change</button>
<a href="{% url 'delete' item.id %}" class="btn btn-sm btn-success m-1">Delete</a>

                
			</div>

		</div>
	</div>
{% endfor %}


	

</div>
<!--Products-in-cart-->
<hr>


</div>
{% endblock %}