{% extends 'base.html' %}
{% load static from staticfiles %}
{% load bootstrap_tags %}

{% block content %}
<hr>   
<div class="row">
<div class="d-sm-none d-md-block col-md-8"></div>

  <div class="col-12 col-md-4 px-auto">
   
    Total: {{ total }} <small><i class="fa fa-euro"></i></small>
    <a href="{% url 'checkout' %}" class="btn btn-sm btn-success"
			role="button"><i class="fa fa-shopping-basket"></i> Checkout</a></p></div></div>
	

    <hr>
<div class="row">

	{% for item in cart_item %}
    
	<div class="col-6 col-md-3 col-lg-2 mb-2">
   <a href="{% url 'post_detail' item.product.id %}" class="card-link"> 
		<div class="card h-100">
        <h5 class="m-1">Qty: 
        {{item.quantity}}</h5>

			<img class="card-img-top" src="{{ MEDIA_URL }}{{ item.product.image }}" alt="">
			<div class="card-body">
			<h6 class="card-title">
					{{ item.product.name }}  
				</h6>
                <h6>{{ item.product.brand }}</h6>

				<h5>{{ item.product.price }} <small><i class="fa fa-euro"></i></small></h5>
				<small>{{ item.product.volume }}ml</small>
									{% if product.gender == 'unisex' %}
											<i class="fa fa-transgender fa-2x"></i>
                {% elif product.gender == 'female'%}
											<i class="fa fa-venus fa-2x"></i>
                 {% else %}
											<i class="fa fa-mars fa-2x"></i>

                {%endif%}
</div>
</a>
				<div class="card-footer">
                										
					<form class="form-inline" method="post" action="{% url 'adjust' item.id %}">
						{% csrf_token %}
					
							<div class="col-12">
	New Qty: 		 <select name="quantity" class="form-control m-1" id="exampleFormControlSelect1" value="1">
       {% for i in select_qty_999 %}
       <option>{{ i }}</option>
{% endfor %}
</select>
    			
								
                                
                                <button type="submit" class="btn btn-sm btn-success">Amend <i class="fa fa-retweet"></i></button>
							</div>
						
						
					</form>
				</div>
			</div>
			<!---->

		</div>

		{% endfor %}
        
</div>

<hr>


</div>
	{% endblock %}