{% load staticfiles %}


<!DOCTYPE html>
<html lang="en">

<head>

	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<meta name="description" content="">
	<meta name="author" content="">

	
	<link rel="stylesheet" href="{% static 'font-awesome/css/font-awesome.min.css' %}">
	<!-- Bootstrap core CSS -->
	<link rel="stylesheet" href="{% static 'vendor/bootstrap/css/bootstrap.min.css' %}">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
	<!-- Custom styles for this template -->
	<link rel="stylesheet" href="{% static 'css/shop-homepage.css' %}">
	<!--My style and script-->
	<link rel="stylesheet" href="{% static 'css/custom.css' %}">
	<script src="{% static 'js/my-script.js' %}"></script>
    {% block page_title%}
{% endblock page_title%}
{% block stripe_js%}
{% endblock stripe_js%}
</head>

<body>
	<div class="container m-container">
   
	<!-- Navigation -->
	<nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
		<div class="container">
			<a class="navbar-brand d-none d-md-block d-lg-block" href="{% url 'home_page' %}">My Fragrance</a>
            <a class="navbar-brand nav-link d-md-none" href="{% url 'my_cart' %}"><i class="fa fa-shopping-basket"></i> Cart {% if product_count > 0 %} <label class="badge badge-success">{{ product_count }}</label>{% endif %} </a>
			<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
			<div class="collapse navbar-collapse" id="navbarResponsive">
				<ul class="navbar-nav ml-auto">
					<li class="nav-item active">
						<a class="nav-link" href="{% url 'home_page' %}"><i class="fa fa-home"></i> Home
							<span class="sr-only">(current)</span>
						</a>
					</li>
					
					<li class="nav-item">
                    
						<a class="nav-link" href="{% url 'my_cart' %}">
                           
                           <i class="fa fa-shopping-basket"></i>
                           Cart
                            {% if product_count > 0 %}
                            <label class="badge badge-success">{{ product_count }}</label>
                            {% endif %}
                        </a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="{% url 'contact_page' %}">
                        <i class="fa fa-phone-square"></i> Contact</a>
					</li>
                    {% if user.is_authenticated %}
                    <li class="nav-item">
						<a class="nav-link" href="{% url 'logout' %}"><i class="fa fa-sign-out"></i> Logout</a>
					</li>
                    {% else %}
                    <li class="nav-item">
						<a class="nav-link" href="{% url 'login' %}"><i class="fa fa-sign-in"></i> LogIn</a>
					</li>
                    <li class="nav-item">
						<a class="nav-link" href="{% url 'register' %}"><i class="fa fa-user-plus"></i> Register</a>
					</li>
                    {% endif %}
				</ul>
			</div>
		</div>
	</nav>
    {% if messages %}
<hr>
{% for message in messages %}
<div class="alert alert-primary" role="alert">{{ message }}</div>
{% endfor %}
<hr>
{% endif %}

	{% block content%}
	<!-- Page Content -->

	
	{% endblock %}
    </div>
	<!-- /.container -->
	<!-- Footer -->
	<footer class="py-5 bg-dark footer">
		<div class="container">
			<p class="m-0 text-center text-white">Copyright &copy; Rawa Aref 2020</p>
		</div>
		<!-- /.container -->
	</footer>

	<!-- Bootstrap core JavaScript -->
	<script src="{% static 'vendor/jquery/jquery.min.js'%}"></script>
	<script src="{%static 'vendor/bootstrap/js/bootstrap.bundle.min.js'%}"></script>

</body>

</html>